<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <label for="age">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<div th:insert="exit.html :: exit">Logout</div>
</body>
</html>